<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>title</title>
	<!--<link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">-->
	<!-- jQuery, jQuery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<!-- usr float -->
	<link rel="stylesheet" href="./CodeLitter.css">
	<script src="./CodeLitter.js"></script>
	<script src="./box.js"></script>
	<!-- script -->
	<script src="./main.js"></script>
</head>
<body>
	<div id="code_litter"></div>
</body>
</html>
