div#editBox{
    width:500px;
    height:2000px;
    border:#999 solid 2px;
    padding:10px;
    float:left;
}

div.preview{
    width:640px;
    height:800px;
    border: solid 1px #999999;
    float:left;
}

.cleditorMain{float:left;}

div#under{
    clear:left;
}
