<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>title</title>
	<!-- jQuery, jQuery UI -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<!-- usr float -->
	<script src="./xflow.js"></script>
	<link rel="stylesheet" href="./xflown.css">
	<!-- script -->
	<script src="./main.js"></script>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
	<div id="content-area">
		<div id="tool-area">
			TOOL BOX
		</div>
		<div id="edit-area">
			<div id="xflow-ui">
				JSON I/O :
				<form class="pure-form">
				<input type="text"   id="data"   placeholder="">
				</form>
				<button id="import" class="pure-button">import</button>
				<button id="export" class="pure-button">export</button>
				
			</div>
			 <div id="xflow"></div>
		</div>
	</div>
</body>
</html>
